# pip install django
# pip install python-dotenv
# pip instal mysqlclient
# pip install pillow
# pip install djangorestframework
# pip install -U "celery[redis]"
# pip install django-cloudinary-storage
# pip install django-cloudinary-storage[video]